<div class="brewery-block">
    <div class="brewery-img">
        <img src="<%= brewery.brewery_label %>" alt="">
    </div>
    <h3 class="brewery-name">
        <%= brewery.brewery_name %>
    </h3>
    <div class="brewery-address">
        <%= brewery.location.brewery_city %>, <%= brewery.location.brewery_state %>
    </div>
</div>
