<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300'  type='text/css'>
</head>

<body>
    <%- include('components/header'); %>
    <div class="container">
        <fieldset>
            <form action="/" method="post">
                <input name="query" type="text" class="ghost-input" placeholder="Search for a Brewery" required>
                <input type="submit" class="ghost-button" value="Get Brewery">
            </form>
            <% if(breweries !== null){ %>
                <div class="brewery-search-results">
                    <% breweries.forEach(function(brewery){ %>
                        <%- include('components/brewery-block', {brewery: brewery.brewery}); %>
                    <% }); %>
                </div>
            <% } %>
            <% if(error !== null){ %>
                <p><%= error %></p>
            <% } %>
        </fieldset>
    </div>
    <script src="js/main.js"></script>
</body>

</html>
